In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load dataset into a dataframe
df = pd.read_csv('data/kc_house_data.csv')

In [3]:
#check dataset info
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [4]:
#df first entries
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
#df column names
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
#remove columns that we're not interested on
df = df.drop(columns=['id','date', 'lat', 'long', 'sqft_living15', 'sqft_lot15'])

### Preparando coluna price

In [7]:
#attribute values 0,1,2 and 3 based on the quartiles dist

df.loc[df['price'] <= 321950, "price"] = 0
df.loc[(df['price'] > 321950) & (df['price'] < 450000), "price"] = 1
df.loc[(df['price'] >= 450000) & (df['price'] < 645000), "price"] = 2
df.loc[df['price'] >= 645000, "price"] = 3

#check data distribution
df['price'].value_counts()

2.0    5508
3.0    5413
0.0    5404
1.0    5288
Name: price, dtype: int64

### Preparando coluna bathrooms

In [8]:
#check data distribution
df['bathrooms'].value_counts()

2.50    5380
1.00    3852
1.75    3048
2.25    2047
2.00    1930
1.50    1446
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      72
4.75      23
5.00      21
5.25      13
0.00      10
5.50      10
1.25       9
6.00       6
0.50       4
5.75       4
8.00       2
6.25       2
6.50       2
6.75       2
7.50       1
7.75       1
Name: bathrooms, dtype: int64

In [9]:
#round up number of bathrooms
df.bathrooms = np.ceil(df.bathrooms)

In [10]:
#check new data distribution 
df['bathrooms'].value_counts()

3.0    9365
2.0    6433
1.0    3928
4.0    1611
5.0     223
6.0      33
0.0      10
7.0       6
8.0       4
Name: bathrooms, dtype: int64

In [11]:
#remove houses that don't have a bathroom
df = df[df.bathrooms != 0]
#if the house has more than 3 bathrooms, attribute the value 4 to its number of bathrooms
df.loc[df.bathrooms > 3, "bathrooms"] = 4

In [12]:
#check final data distribution for the bathrooms column
df['bathrooms'].value_counts()

3.0    9365
2.0    6433
1.0    3928
4.0    1877
Name: bathrooms, dtype: int64

### Preparando coluna bedrooms

In [13]:
#show data distribution
df['bedrooms'].value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      196
7       38
8       13
9        6
0        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [14]:
#if the house doesn't have a bedroom, consider it to have 1
df.loc[df.bedrooms == 0, "bedrooms"] = 1
#if the house has more than 3 bedrooms, attribute the value 4 to its number of bedrooms
df.loc[df.bedrooms > 3, "bedrooms"] = 4
df['bathrooms'].value_counts()

3.0    9365
2.0    6433
1.0    3928
4.0    1877
Name: bathrooms, dtype: int64

### Coluna sqft_living

In [15]:
#attribute values 0,1,2 and 3 based on the quartiles dist

df.loc[df['sqft_living'] <= 1427, "sqft_living"] = 0
df.loc[(df['sqft_living'] > 1427) & (df['sqft_living'] < 1910), "sqft_living"] = 1
df.loc[(df['sqft_living'] >= 1910) & (df['sqft_living'] < 2550), "sqft_living"] = 2
df.loc[df['sqft_living'] >= 2550, "sqft_living"] = 3

In [16]:
#show data distribution
df['sqft_living'].value_counts()

2    5440
3    5431
0    5399
1    5333
Name: sqft_living, dtype: int64

### Coluna sqft_lot

In [17]:
#attribute values 0 and 1 based on the quartiles dist

df.loc[df['sqft_lot'] <= 7618, "sqft_lot"] = 0
df.loc[df['sqft_lot'] > 7618, "sqft_lot"] = 1

In [18]:
#show data distribution
df['sqft_lot'].value_counts()

0    10803
1    10800
Name: sqft_lot, dtype: int64

### Coluna floors

In [19]:
#show data distribution
df['floors'].value_counts()

1.0    10675
2.0     8238
1.5     1910
3.0      612
2.5      161
3.5        7
Name: floors, dtype: int64

In [20]:
#0 if it's a single storey house, 1 if it isn't
df["floors"] = np.where((df['floors'] == 1), 0, 1)
#show data distribution
df['floors'].value_counts()

1    10928
0    10675
Name: floors, dtype: int64

### Coluna waterfront

In [21]:
#show data distribution
df['waterfront'].value_counts() #to pensando se tirar essa coluna é uma boa ideia, porque nem 1% dos dados tem valor 1 nesse campo

0    21440
1      163
Name: waterfront, dtype: int64

In [22]:
#df = df.drop(columns=['waterfront'])

### Coluna view

In [23]:
#show data distribution
df['view'].value_counts()

0    19481
2      961
3      510
1      332
4      319
Name: view, dtype: int64

In [24]:
#1 if it has a view, 0 if it doesn't
df['view'] = np.where((df['view'] == 0), 0, 1)
#show data distribution
df['view'].value_counts()

0    19481
1     2122
Name: view, dtype: int64

### Coluna condition

In [25]:
#show data distribution
df['condition'].value_counts()

3    14025
4     5677
5     1701
2      171
1       29
Name: condition, dtype: int64

In [26]:
#0 if condition <= 3, 1 otherwise
df['condition'] = np.where((df['condition'] <= 3), 0, 1)
#show data distribution
df['condition'].value_counts()

0    14225
1     7378
Name: condition, dtype: int64

### Coluna grade

In [27]:
#show data distribution
df['grade'].value_counts()

7     8977
8     6066
9     2615
6     2038
10    1134
11     399
5      242
12      89
4       29
13      13
3        1
Name: grade, dtype: int64

In [28]:
#0 if grade <= 7, 1 otherwise
df['grade'] = np.where((df['grade'] <= 7), 0, 1)
#show data distribution
df['condition'].value_counts()

0    14225
1     7378
Name: condition, dtype: int64

### Coluna sqft_above

In [29]:
#attribute values 0, or 1 based on the quartiles dist

df['sqft_above'] = np.where((df['sqft_above'] <= 1560), 0, 1)

#show data distribution
df['sqft_above'].value_counts()

0    10843
1    10760
Name: sqft_above, dtype: int64

### Coluna sqft_basement

In [30]:
#0 if sqft_basement == 0 (does not have a basement), 1 otherwise
df['sqft_basement'] = np.where((df['sqft_basement'] == 0), 0, 1)
#show data distribution
df['sqft_basement'].value_counts()

0    13116
1     8487
Name: sqft_basement, dtype: int64

In [31]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode
count,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000,21603.000000
mean,1.505948,3.261677,2.425450,1.504698,0.499931,0.505856,0.007545,0.098227,0.341527,0.477526,0.498079,0.392862,1971.005046,84.441328,98077.951396
std,1.118396,0.710527,0.884253,1.119229,0.500012,0.499977,0.086537,0.297628,0.474233,0.499506,0.500008,0.488398,29.374413,401.768096,53.508641
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,98001.000000
25%,1.000000,3.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1951.000000,0.000000,98033.000000
50%,2.000000,3.000000,3.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1975.000000,0.000000,98065.000000
75%,3.000000,4.000000,3.000000,3.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1997.000000,0.000000,98118.000000
max,3.000000,4.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2015.000000,2015.000000,98199.000000

### Coluna yr_built

In [32]:
#0 if the house was built before 1975, 1 otherwise
df['yr_built'] = np.where((df['yr_built'] <= 1975), 0, 1)
#show data distribution
df['yr_built'].value_counts()

0    10929
1    10674
Name: yr_built, dtype: int64

### Coluna yr_renovated

In [33]:
#1 if the house was ever renovated, 0 otherwise
df['yr_renovated'] = np.where((df['yr_renovated'] == 0), 0, 1)
#show data distribution
df['yr_renovated'].value_counts()

0    20689
1      914
Name: yr_renovated, dtype: int64

In [34]:
#show data distribution
df['yr_renovated'].value_counts()

0    20689
1      914
Name: yr_renovated, dtype: int64

### Coluna zipcode

In [35]:
#divide dataset into 4 zipcode regions

df.loc[df['zipcode'] <= 98033, "zipcode"] = 0
df.loc[(df['zipcode'] > 98033) & (df['zipcode'] < 98065), "zipcode"] = 1
df.loc[(df['zipcode'] >= 98065) & (df['zipcode'] < 98118), "zipcode"] = 2
df.loc[df['zipcode'] >= 98118, "zipcode"] = 3

#show data distribution
df['zipcode'].value_counts()

0    5770
2    5615
3    5409
1    4809
Name: zipcode, dtype: int64

In [36]:
df.to_csv('data/cleaned_data.csv', index=False)